<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ofalvai.aircard"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="${googleApiKey}"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.nearbycards.NearbyCardsActivity"
            android:label="@string/title_activity_nearby_cards"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ofalvai.aircard.MainActivity"/>
        </activity>
        <activity
            android:name=".presentation.savedcards.SavedCardsActivity"
            android:label="@string/title_activity_saved_cards"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ofalvai.aircard.MainActivity"/>
        </activity>
        <activity
            android:name=".presentation.mycards.MyCardsActivity"
            android:label="@string/title_activity_my_cards"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ofalvai.aircard.MainActivity"/>
        </activity>
        <activity android:name=".presentation.main.Main2Activity">
        </activity>
    </application>

</manifest>